---
import { NAV_LINKS } from "@/config";
import BaseLayout from "../layouts/baseLayout.astro";
import ContentGrid from "@/components/contentGrid.astro";
import NavMain from "@/components/navMain.astro";
import FooterMain from "@/components/footerMain.astro";
import "../styles/index.css";
---

<BaseLayout title="Home">
    
    <NavMain 
    inspirationLinkHref={NAV_LINKS.inspiration}
    buttonsLinkHref={NAV_LINKS.buttons}
    githubLinkHref={NAV_LINKS.github}
    linkedinLinkHref={NAV_LINKS.linkedin}
    emailLinkHref={NAV_LINKS.email}
    navCenterText="" />

    <div class="container">
        <section class="intro-text">
        <p>A growing collection of hand-coded components for modern web development.</p>
    </section>

    <ContentGrid 
        dataFile="/data/content-components.json"
        counterWidgetText="Components" />
    </div>

    <FooterMain></FooterMain>

</BaseLayout>