---
import { NAV_LINKS } from "@/config";
import BaseLayout from "../layouts/baseLayout.astro";
import ContentGrid from "@/components/contentGrid.astro";
import NavMain from "@/components/navMain.astro";
import FooterMain from "@/components/footerMain.astro";
import "../styles/index.css";
---
<script type="module" src="/scripts/inspiration.js"></script>
<script type="module" src="/scripts/footerMain.js"></script>

<BaseLayout title="Inspiration">

    <NavMain 
    inspirationLinkHref={NAV_LINKS.inspiration}
    buttonsLinkHref={NAV_LINKS.buttons}
    githubLinkHref={NAV_LINKS.github}
    linkedinLinkHref={NAV_LINKS.linkedin}
    emailLinkHref={NAV_LINKS.email}
    navCenterText="" />

    <div class="container">
        <section class="intro-text">
        <p>A growing archive of websites that push the boundaries of design and interaction.</p>
    </section>

    <ContentGrid 
        dataFile="/data/content-inspiration.json"
        counterWidgetText="Websites" />
    </div>

    <FooterMain></FooterMain>

</BaseLayout>